<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Highlight" type="System.Configuration.SingleTagSectionHandler"/>
    <section name="Holidays" type="System.Configuration.SingleTagSectionHandler"/>
  </configSections>
  <appSettings>
    <add key="CurrWeekType" value="1"/>
    <add key="LastUpdateDate" value="07.12.2005"/>
    <add key="DefaultTable" value="MyTable.xml"/>
    <add key="HLMode" value="1"/>
    <add key="ParaStart" value="8:30"/>
    <add key="ParaLen" value="95"/>
    <add key="BreakLen" value="15"/>
    <add key="BigBreakLen" value="35"/>
    <add key="Autostart" value="0"/>
    <add key="NotifyOnParaStart" value="1"/>
    <add key="NotifyOnParaEnd" value="1"/>
    <add key="PlaySndOnParaStart" value="1"/>
    <add key="PlaySndOnParaEnd" value="1"/>
    <add key="ParaStartSoundPath" value="..."/>
    <add key="ParaEndSoundPath" value="..."/>
  </appSettings>
  <Highlight>
    <hl0>100;0;0</hl0>
    <hl1>0;128;64</hl1>
    <hl2>0;0;255</hl2>
    <hl3>255;0;0</hl3>
    <hl4>0;0;0</hl4>
    <hl5>0;0;0</hl5>
  </Highlight>
  <Holidays>
    <Holiday>
      <Name>Новый год</Name>
      <Date>1.1</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Рождество Христово</Name>
      <Date>1.7</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День заповедников</Name>
      <Date>1.11</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День работников прокуратуры</Name>
      <Date>1.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День российской печати</Name>
      <Date>1.13</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Cтарый Новый год</Name>
      <Date>1.14</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День инженерных войск </Name>
      <Date>1.21</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День студентов (Татьянин день)</Name>
      <Date>1.25</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День воинской славы России – снятие Ленинградской блокады</Name>
      <Date>1.27</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День воинской славы России – Сталинградская битва</Name>
      <Date>2.2</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День российской науки</Name>
      <Date>2.8</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День памяти А.С. Пушкина</Name>
      <Date>2.10</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День вывода войск из Афганистана</Name>
      <Date>2.15</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День защитника Отечества</Name>
      <Date>2.23</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Отмена крепостного права в России</Name>
      <Date>3.3</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Международный женский день</Name>
      <Date>3.8</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Февральская буржуазно-демократическая революция в России (1917 г.)
</Name>
      <Date>3.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Профессиональный праздник работников уголовно-исполнительной системы Минюста России</Name>
      <Date>3.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День работников ЖКХ и бытового обслуживания и День налоговой полиции и первый выход человека в космос (Алексей Леонов, 1965 г.) и День образования Федеральной службы налоговой полиции</Name>
      <Date>3.18</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День моряка-подводника</Name>
      <Date>3.19</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День планетариев</Name>
      <Date>3.24</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День внутренних войск МВД РФ</Name>
      <Date>3.27</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День защиты Земли</Name>
      <Date>3.29</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День единения народов</Name>
      <Date>4.2</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День космонавтики</Name>
      <Date>4.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День работников пожарной охраны</Name>
      <Date>4.17</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День воинской славы России – Ледовое побоище (1242 г.)</Name>
      <Date>4.18</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Матери России</Name>
      <Date>4.29</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Праздник весны и труда</Name>
      <Date>5.1</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День печати</Name>
      <Date>5.5</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День создания Вооруженных Сил РФ и День радио</Name>
      <Date>5.7</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Победы</Name>
      <Date>5.9</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День основания г. Санкт-Петербург</Name>
      <Date>5.16</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День рождения Тихоокеанского военно-морского флота и День защиты от безработицы</Name>
      <Date>5.21</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День славянской письменности и культуры</Name>
      <Date>5.24</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День филолога и Последний звонок</Name>
      <Date>5.25</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Общероссийский день библиотек</Name>
      <Date>5.27</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День пограничника</Name>
      <Date>5.28</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Северного флота России</Name>
      <Date>6.1</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День мелиоратора</Name>
      <Date>6.3</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Пушкина и День эколога</Name>
      <Date>6.6</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День принятия Декларации о государственном суверенитете РФ – День России (с 1990 г.)</Name>
      <Date>6.12</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День памяти и скорби. Начало Великой Отечественной войны</Name>
      <Date>6.22</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День молодежи</Name>
      <Date>6.24</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Выпускной бал и День дружбы, единения славян</Name>
      <Date>6.25</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День молодежи России</Name>
      <Date>6.27</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День рождения ГИБДД</Name>
      <Date>7.3</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День памяти Владимира Высоцкого</Name>
      <Date>7.25</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День воздушно-десантных войск</Name>
      <Date>8.2</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День железнодорожных войск РФ</Name>
      <Date>8.5</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Военно-воздушных сил РФ</Name>
      <Date>8.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Государственного флага РФ</Name>
      <Date>8.22</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День российского кино</Name>
      <Date>8.27</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День знаний</Name>
      <Date>9.1</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День воинской славы России – Бородинское сражение</Name>
      <Date>9.8</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Военно-космических сил и Запуск первого искусственного спутника</Name>
      <Date>10.4</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День памяти войсковой казачьей славы</Name>
      <Date>10.18</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Царскосельского лицея</Name>
      <Date>10.19</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День таможенника РФ</Name>
      <Date>10.25</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День инженера-механика</Name>
      <Date>10.29</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День утверждения нового флага РФ (1991 г.)</Name>
      <Date>10.31</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День согласия и примирения</Name>
      <Date>11.7</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День милиции</Name>
      <Date>11.10</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День банковского работника</Name>
      <Date>11.12</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>Всроссийский день призывника (с 1992 г.)</Name>
      <Date>11.15</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День морской пехоты</Name>
      <Date>11.16</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День Конституции РФ</Name>
      <Date>12.12</Date>
      <NoStudy>1</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День ракетных войск стратегического назначения</Name>
      <Date>12.17</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
    <Holiday>
      <Name>День работников органов безопасности РФ</Name>
      <Date>12.20</Date>
      <NoStudy>0</NoStudy>
    </Holiday>
  </Holidays>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
